{% extends "layout.html" %}

{%  block content %}
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left utitle">
                <h3>Search Data</h3>
            </div>

            <!--<div class="utitle_right" onclick="toggleQueryContainer()" style="text-align:right">
                <div class="col-md-6 col-sm-6 col-xs-12 form-group pull-right top_search">
                    <button class="btn btn-info query-add">Query By Filter</button>
                </div>
            </div>-->
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Search query <!--<small>Choose your schema</small>--></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <p class="umessage">{{ message }}</p>
                    <div class="x_content">
                        <p></p>
                        <br/>
                        <form id="demo-form2" class="form-horizontal form-label-left" method="post">

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">ID</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input type="text" name="biodesignId" class="form-control col-md-7 col-xs-12" placeholder="Computer-generated ID"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Display ID</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input type="text" name="displayId" class="form-control col-md-7 col-xs-12" placeholder="Human-assigned ID (if any)"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Name</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input type="text" name="name" class="form-control col-md-7 col-xs-12"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Role</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <select name="role" class="form-control col-md-7 col-xs-12">
                                        <option value="" selected="selected">--Choose a role--</option>
                                        <option value="PROMOTER">Promoter</option>
                                        <option value="RYBOZOME">Rybozome</option>
                                        <option value="RBS">RBS</option>
                                        <option value="GENE">Gene (CDS)</option>
                                        <option value="TERMINATOR">Terminator</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Type</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <select name="type" class="form-control col-md-7 col-xs-12">
                                        <option value="" selected="selected">--Choose a type--</option>
                                        <option value="DEVICE">Device</option>
                                        <option value="PART">Part</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Sequence</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <textarea style="height:150px;resize:none" name="sequence" class="form-control col-md-7 col-xs-12"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Limited search</label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <select name="userSpace" class="form-control col-md-7 col-xs-12">
                                        <option value="False" selected="selected">No (search through all users data)</option>
                                        <option value="True">Yes (search only through your data)</option>
                                    </select>

                                </div>
                            </div>

                            <div class="ln_solid"></div>

                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button type="submit" class="btn btn-primary">Cancel</button>
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /page content -->
{% endblock %}
