{% extends "layout.html" %}

{%  block content %}
                
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left utitle">
                <h3>404 Error</h3>
                <br/>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Something went wrong...</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <h3>Not found error!</h3>
                        <p>Sorry we couldn't find the page...</p><br/>
                        
                        <a href="{{ url_for('train') }}" class="btn btn-success">Go Back to Model Training</a>
                        <a href="{{ url_for('test') }}" class="btn btn-success">Go Back to Prediction</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->

{% endblock %}