{% extends "layout.html" %}

{%  block content %}
                
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left utitle">
                <h3>Toxicity Analysis </h3>
                <br/>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Select a single file</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <!--<p class="umessage" th:text="${app.getMessage()}"></p>-->
                        <form method="POST" enctype="multipart/form-data">
                            <input type="file" class="form-control" name="multipartFile" /><br/>
                            <input type="submit" class="btn btn-success" value="Submit" />
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Import multiple files</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <p>Drag multiple files to the box below for multi upload or click to select files.</p>
                        <form action="" class="dropzone"></form>
                        <br />
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <button class="btn btn-success">Submit</button>
                        </div>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->

{% endblock %}