{% extends "layout.html" %}

{%  block content %}
                
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left utitle">
                <h3>Perform Model Training</h3>
                <br/>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Import your dataset</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <!--<p class="umessage" th:text="${app.getMessage()}"></p>-->
                        <form method="POST" action="{{ url_for('eda.upload') }}" enctype="multipart/form-data">
                            <input type="file" class="form-control" name="file" /><br/>
                            <input type="submit" class="btn btn-success" name="submit" value="Submit" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->

{% endblock %}